body{
    background-color: #DDD;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img{
    width: 250px;
    height: 250px;
    margin-top: 50px;
}

.textoFrase{
    color: #000;
    text-align: center;
}